---
import '@fontsource-variable/onest'
import '@/styles/global.css'
import Background from '@/components/Background.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image' href='stack.webp' />
    <title>StackGame</title>
  </head>
  <body class='relative'>
    <Background />
    <slot />
  </body>
</html>

<style is:global>
  @config '../../tailwind.config.mjs';
  :root {
    font-family: 'Onest Variable';
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }
</style>
